<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.scripting.support.ScriptFactoryPostProcessor"/>
    <bean class="com.ariescat.hotswap.javasource.spring.JavaSourceRegister">
        <property name="directory" value="script"/>
        <property name="refreshCheckDelay" value="10000"/>
    </bean>
</beans>